<html ng-app="app">
<head>
<meta charset="ISO-8859-1">
<title>Reports ProyectoBMW</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="js/angular.min.js"></script>
<script src="js/script.js"></script>
<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="cabeza container-fluid">
	<img alt="BMW" src="img/logo2.jpg" height="7%" width="20%">
</div>
</head>
<body ng-controller="myangularController">
	<div class="container">
			<h2>Reports</h2>
			<br>
			<div class="col-lg-6">
				<div style="float:left;width: 15%;">
					<label for="lang">Report: </label>
				</div>
				<div style="float:left;width: 40%;">
					<select name="reports" class="form-control" id="reportBmw" ng-model="reports">
						<option value="employeeS">Employee Scores</option>
						<option value="becateB">Becate Balance</option>
						<option value="categoryC">Category Changes</option>
						<option value="blueCollar">Blue Collar Status</option>
						<option value="feedBack">Feedback Letter(PDF)</option>
					</select>
				</div>
			</div>
	</div>
	<br>
	<br>

	<div style="float:left;width:15%">
		<label ></label>
	</div>
	<div class="border" style="float:left;width:68%;">
			<br>
	<form class ="form-horizontal">
		
		<div class="form-group">
			 <label class="col-sm-2 control-label">Employee#:</label>
			  <div class="col-sm-2">
				<input class="form-control" id="numberEmployee" type="text">
				<a href="file:///C:/">Import Spreedsheet</a>
			  </div>
			
			
		</div>
		
		<div class="form-group" ng-controller="Fecha">
		 <label class="col-sm-2 control-label">Quarter:</label>
		   <div class ="col-sm-2">
				<select class="form-control" name="quarter"  id="qua">
						<option value="qua1">Jan - Mar 2018</option>
						<option value="qua2">Apr - Jun 2018</option>
						<option value="qua3">Jul - Sep 2018</option>
						<option value="qua4">Oct - Dec 2018</option>
				</select>
			</div>
		</div>

		<div class="form-group">
		 <label class="col-sm-2 control-label">Org.Unit:</label>
		  <div class="col-sm-2">
		  		<select class="form-control" name="unit" id="orgUni" ng-model="unit">
		  			<option value="unit1">TN-1</option>
					<option value="unit2">TN-2</option>
					<option value="unit3">TN-3</option>
					<option value="unit4">TN-12</option>
					<option value="unit5">TN-25</option>
		  		</select>
		  </div>
		</div>
		
		<div class="form-group">
		 <label class="col-sm-2 control-label">Tech Comp:</label>
		  <div class="col-sm-1">
		  		<select class="form-control" name="techComp" id="tComp" ng-model="techComp">
		  			<option value="tech1">1</option>
		  			<option value="tech2">2</option>
		  			<option value="tech3">3</option>
					<option value="tech4">4</option>
					<option value="tech5">5</option>
		  		</select>
		  </div>
		</div>
		
		<div class="form-group">
		 <label class="col-sm-2 control-label">Category:</label>
			<div class="col-sm-2">
				<select style="width:90px;" class="form-control" name="category" id="Category">
					<option value="h1">H1A</option>
				</select>
			
			</div>
		</div>
		
		<div class="form-group">
  		  
  		  <label class="col-sm-2 control-label">Hiring Date:</label>
	
		  <label class="col-sm-1 control-label">From:</label>
		
			 <div class="col-sm-3">
		       	  <input style="width:160px;" class="form-control" type="date" name="fromDate">
		     </div>
		     <div class="col-sm-1">
			     <span class="glyphicon glyphicon-calendar" style="font-size:25px;"></span>
			     <label>To:</label>
		     </div>
			 <div class="col-sm-3">
   		     	<input style="width:160px;" class="form-control" type="date" name="toDate">
   		     	
		     </div>
			<div class="col-sm-1">
				<span class="glyphicon glyphicon-calendar" style="font-size:25px;color:black;"></span>
				<br>
				<br>
				<input style="width:89px;" type="submit" class="form-control" name="reportGenerate" value="Generate">
			</div>
			
			
		</div>
		
		<div class="topcorner">
				<fieldset class="fieldset">
					<legend>Include Only:</legend>
						<input type="checkbox" name="safety" value="Safety">Safety Issue<br>
						<input type="checkbox" name="unjustified" value="Unjustified">Unjustified Absence<br>
						<input type="checkbox" name="warning" value="Warning">Warnings<br>
						<input type="checkbox" name="behaviour" value="BehaviourI">Bahaviour Issue<br>
						<input type="checkbox" name="becate" value="BecateProg">Becate Program
				</fieldset>
			</div>	
	
	</form>

			
		
	</div>

</body>
</html>